</div>
<br />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charge</title>
</head>
<body>

    <center>
        <h1 id="h1">INVOICE</h1>
        <h1>PAYMENT COMPLETED</h1>
        <p>Your Account Details Will Be Mark As PAID By An Admin</p>
        <div>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>
    </center>
</body>
</html>
