@using Microsoft.Extensions.Options
@inject IOptions<theSneakerDon.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "Home Page";
}


<h1>@ViewBag.CheckoutCompleteMessage</h1>

<div class="text-center">
    <form asp-action="Charge" asp-controller="CustomerOrder" method="POST">
        <article>
            <label>Amount Due: $500.00</label>


        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                Stripe.setPublishableKey('PUBLISHABLE_KEY');
                data-key="@Stripe.Value.PublishableKey"
                data-description="Sample Charge"
                data-amount="50000"
                data-locale="auto">
        </script>
    </form>

</div>