@model SneakerListViewModel




    <h1>@Model.CurrentCategory</h1>
    @foreach (var sneaker in Model.Sneakers)
    {
        <div>
            <h2>@sneaker.Name</h2>
            <h3>@sneaker.Price</h3>
            <h4>@sneaker.Category.CategoryName</h4>
        </div>
    }



